use --container --network --ad-hoc guix ruby@2.7 git bundler nss-certs

# CLEAN UP
rm -rf .gems

# PATHES
export GEM_HOME=$PWD/.gems
export GEM_PATH=$GEM_HOME:$GEM_PATH
export PATH=$GEM_HOME/bin:$PATH

# .so files
export LD_LIBRARY_PATH=$LD_LIBRARY_PATH:"$GUIX_ENVIRONMENT/lib"

# RUBYGEMS AUTH
export SSL_CERT_FILE="$GUIX_ENVIRONMENT/etc/ssl/certs/ca-certificates.crt"

# Installing
gem install bundler
bundle install
